<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0AE--56QVH5hI5CzrlZ-au8oEFDafZk4</string>
	<key>GCM_SENDER_ID</key>
	<string>404022956385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>chat-app-9a7fb</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-9a7fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404022956385:ios:96d1a8ee0ebb1126be7520</string>
</dict>
</plist>